@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GitHub Actions Demo</h1>
    <h2 class="display-4">Team Members - Geetha, Rahul, Poulami<h2>
</div>
